* {
    background-color: rgb(75, 50, 95);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
}

#calculator {
    display: flex;
    flex-direction: column;
    border: solid 10px gray;
    border-radius: 5px;
    gap: 5px;
    background-color: black;
}

.row {
    display: flex;
    gap: 5px;
    background-color: black;
}

.calc-button {
    background-color: black;
    color: white;
    font-size: 2.5em;
    display: flex;
    flex: 1 100px;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}

#result-display {
    font-size: 3em;
    padding: 5px; /* Text aligning doesnt work because of the 2nd padding */
    background-color: rgb(83, 77, 77);
    color: white;
    margin: 3.5px;
    border-radius: 5px;   
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


#zero-btn {
    flex: 2 215px; /* 10px + because of the gap in .row and #calculator */
    justify-content: center;
}

.operation {
    background-color: olivedrab;
}

.topside {
    background-color: maroon;
}