* {
    background-color: rgb(75, 50, 95);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
}

#calculator {
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    gap: 5px;

}

.row {
    display: flex;
    gap: 2px;
}

.calc-button {
    background-color: black;
    color: white;
    font-size: 2.5em;
    flex: 1 1 100px;
}

#result-display {
    font-size: 3em;
    text-align: end;
    padding: 5px 150px;
}

